#port {
    width: 100%;
    overflow: hidden;
}
.port__inner {
    padding: 16px;
}
.port__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--white200);
    border-bottom: 0.4vw solid var(--white200);
    margin-bottom: 100px;
}

.port__wrap{
    display: flex;
    flex-wrap: wrap;
    width: 7000px;
}
.port__item {
    width: 500px;
    height: 70vh;   
    margin-right: 20px;     
}
.port__item .num{
    font-size: 2rem;
    font-family: var(--mainNum-font);   
    color: #ffffff; 
    font-weight: 800;   
   
}
.port__item img {
    width: 300px;
    height: auto;
    margin-top: 2rem;   
    margin: 0 auto;
    display: block;
   
}
.port__item .title {
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--mainKor-font);
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    border-bottom: 2px solid black;   
    color: var(--black300);
    
}
.port__item .desc {
    font-size: 1rem;
    font-family: var(--mainKor-font);   
    margin-top: 1.4rem;  
    display: inline-block;
    padding: 10px;    
}
.port__item button {   
    color: var(--black300);
    padding: 10px 20px;     
    border-radius: 5px; 
    cursor: pointer;     
    background-color: #ffffff;
    width: 450px;
    margin: 1rem 1rem 1rem 1.5rem;
  }
  
.port__item button:hover {
    background-color: #0056b3;
}
.port__item.title h3 {
   /* text-align: center; */
}


 .port__item.p1 {
    background-color: #eee; }


.port__item.p2 {
    background-color: #eee;
}
.port__item.p3 {
    background-color: #eee;
}
.port__item.p4 {
    background-color: #eee;
}
.port__item.p5 {
    background-color: #eee;
}
.port__item.p6 {
    background-color: #eee;
}
.port__item.p7 {
    background-color: #eee;
}
.port__item.p8 {
    background-color: #eee;
}
.port__item.p9 {
    background-color: #eee;
}
.port__item.p10 {
    background-color: #eee; 
}